body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: auto;
  height: auto;
}

.app {
  text-align: center;
  padding: 8rem;
}

.search-bar {
  margin-bottom: 2rem;
  cursor: pointer;
}

.weather-card {
  background-image: url("https://wallpapers.com/images/featured/weather-xqhs9axpy8btfd3y.jpg");
  padding: 6rem;
  background-repeat: no-repeat;
  width:500px;
  height:500px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  margin:auto;
  font-size: 30px;
}

.error {
  color: red;
}

.toggle-theme-button {
  margin-bottom: 1rem;
  padding: 5px;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.app.light {
  background-color: #f0f0f0;
  color: white;
}

.app.dark {
  background-color: #333;
  color: white;
}

